* {
    box-sizing:border-box;
    padding: o;
    margin: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(146, 98, 57);
    text-align: center;
    
}

header{
    background-image: url("./assets/beachshowcase.jpg");
    background-color: beige;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    text-align: center;
    padding: 300px;
}

h1 {
    color: rgb(146, 98, 57);
    text-align: center;
    font-size: 50px;
}

h2 {
    font-size: 20px;
    font-weight: normal;
}

button {
    border-color: rgb(146, 98, 57);
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    margin: 10px 10px;
    padding: 10px;
    font-size: 18px;
}

a {
    color: rgb(146, 98, 57);
    text-decoration: none;
}

p{
    font-size: 17px;
}
.block-one {
    display: inline-block;
    padding: 15px;
    color: white;
    background-color: rgb(146, 98, 57);
}

.block-two {
    display: inline-block;
    padding: 15px;
    
}

.parent{
    font-size: 0;
}
.block-three {
    display: inline-block;
    padding: 15px;
    color: white;
    background-color: rgb(146, 98, 57);
    width: 33.33%;
}

.block-three-white {
    display: inline-block;
    padding: 15px;
    width: 33.33%;
}